
.container {
  max-width: 400px; 
  margin: 0 auto; 
  padding: 20px; 
  text-align: center; 
  background-color: #f7f7f7;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  margin-top: 5%;
}
h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
p {
  font-size: 1.2rem; 
}

.form-control {
  width: 90%; 
  padding: 10px; 
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px; 
}
.btn-primary {
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; }


a {
  text-decoration: none; 
  color: #007bff;
}


a:hover {
  text-decoration: underline;
}
